node_modules/
out/
dist/
/coverage/
/package/
.vs/
# Logs
logs
*.log
npm-debug.log*

# VS Code test infra
.vscode-test/
.vscode-test-web/

# don't check in generated folders
telemetry-generated

#
l10n/package.nls.fr.json
