.azure-pipelines/
.github/
.vscode/
**/node_modules/
package/
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
test/
.gitignore
.release-it.yaml
gulpfile.js
scorch
scorch.cmd
tsconfig.json
webpack.config.js
