body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.copilot-window{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 0px;
}

.chat-input {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 12px;
}

.input-field {
  flex: 1;
}

.input-field::part(root) {
 /* font-style: italic; */
 border-radius: 4px;
 height: 38px;
}

.disclaimer {
  margin: 0px;
  margin-top: 12px;
}

.chat-input input {
  flex: 1;
  border: none;
  color: white;
  /* added for testing */
  padding: 10px;
}

.chat-input button {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.send-icon {
  font-size: 20x;
}

.active {
  pointer-events: auto;
  opacity: 1;
  /* Add any other styling for the active button */
}


.user-message {
  /* background-color: #252526;
  color: white; */
  /* border-bottom: 1px solid grey; */
  padding: 12px;
  background-color: var(--vscode-editor-background);
}

.api-response {
  /* background-color: #1E1E1E;
    color: white; */
  /* border-bottom: 1px solid grey; */
  padding: 12px;
  background-color: var(--vscode-activityBar-background);
}

.message {
  padding-left: 20px;
  padding-right: 20px;
}

.profile-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: var(--vscode-button-background);
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.message-wrapper {
  position: relative;
}

.code-division {
  position: relative;
  padding: 20px 5px 1px 10px;
  margin: 10px 0px;
  border-radius: 4px;
  background-color: var(--vscode-editor-background);
  
}

.code-pre{
  overflow-x: auto;
}

/*
.accordion {
    background-color: #007acc;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active, .accordion:hover {
    background-color: #0066cc;
}

.accordion:after {
    content: '+';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "-";
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: transparent;
    padding: 0 18px;
}

.accordion-content a {
    display: block;
    padding: 12px 0;
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}

.accordion-content a:hover {
    background-color: #ddd;
} */

.action-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button {
  margin: 0;
  padding: 5px;
  border: 0;
  background: none;
  color: inherit;
  box-shadow: none;
  cursor: pointer;
  width: 30px;
  /* adjust as needed */
  height: 30px;
  /* adjust as needed */
  flex-shrink: 0;
}

.copy-button {
  width: 18px;
  /* adjust as needed */
  height: 18px;
}

.insert-button {
  margin-left: 5px;
}

.preview-button {
  margin-left: 5px;
}

.create-button {
  margin-left: 5px;
}

.list-container {
  position: relative;
  /* background-color: #1f1f1f ;*/
  background-color: var(--vscode-input-background);
  border: 1px solid #383434; 
  padding: 10px;
  width: 400px;
  /* color: #ffffff; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.2em;
  margin-bottom: 3px; 
  /* padding: 2px;  */
  /* background-color: #383636; */
  /* background-color: #1f1f1f; */
  background-color: var(--vscode-input-background);
  transition: background-color 0.2s ease-in-out;
}

li:hover {
  /* background-color: #3a3d41; */
  background-color: var(--vscode-list-hoverBackground);
  transition: background-color 0.2s ease-in-out;
}

a {
  text-decoration: none;
  /* color: #ffffff; */
}

li:before {
  content: "/";
  /* color: #007acc; */
}
