body {
  font-size: 13px;
  font-weight: var(--vscode-font-weight);
  font-family: var(--vscode-font-family);
  margin: 0;
  padding: 0;
  background-color: var(--vscode-editor-background);
}

.copilot-window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 0px;
}

.chat-input {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 12px;
}

.input-label {
  margin-bottom: 1px;
  color: var(--vscode-input-placeholderForeground);
  font-size: 12px;
  background: var(--vscode-panelSectionHeader-background);
  padding: 5px 0px 5px 10px;
  height: auto;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--vscode-dropdown-border);
  padding: 0px 6px 0px 0px;
  border-radius: 4px;
  height: 38px;
  background-color: var(--vscode-interactiveEditorInput-background);
}

.input-container:focus-within {
  box-shadow: 0 0 0 1px var(--vscode-focusBorder);
}

.input-container:focus-within .send-icon path:not(:hover) {
  fill: var(--vscode-inputOption-activeForeground);
}

.input-field {
  flex: 1;
  padding: 11px 0px 11px 8px;
  border: none;
  outline: none;
  color: var(--vscode-inputOption-activeForeground);
  background-color: transparent;
  resize: none;
  font-family: var(--vscode-font-family);
}

.input-field::-webkit-scrollbar {
  display: none;
}

.input-field:focus {
  outline: none;
  color: var(--vscode-inputOption-activeForeground);
}

.input-field::placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.send-button {
  margin-left: 6px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}


.disclaimer {
  margin: 0px;
  margin-top: 12px;
  color: var(--vscode-titleBar-inactiveForeground);
  font-size: 12px;
}

.send-icon,
.copyIcon,
.insertIcon,
.thumbsup-clicked,
.thumbsdown-clicked {
  fill: var(--vscode-inputOption-activeForeground);
}


.active {
  pointer-events: auto;
  opacity: 1;

}


.user-message {
  padding: 12px;
  background-color: var(--vscode-sideBar-background);
}

.api-response {
  padding: 12px;
  background-color: var(--vscode-editor-background);
}

.message {
  padding-left: 20px;
  padding-right: 20px;
}

.maker-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Align child elements to the right */
}

.profile-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
  /* background-color: var(--vscode-button-background); */
  color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #A7CFE8;
  aspect-ratio: 1 / 1;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.active-org {
  border-radius: 12px;
  color: var(--vscode-button-secondaryForeground);
  background-color: var(--vscode-button-secondaryBackground);
  padding: 4px 8px;
}

.message-wrapper {
  position: relative;
}

.code-division {
  position: relative;
  padding: 20px 5px 1px 10px;
  margin: 10px 0px;
  border-radius: 4px;
}

.user-code {
  background-color: var(--vscode-editor-background);
  max-height: 200px;
  overflow: scroll;
}

.copilot-code {
  background-color: var(--vscode-sideBar-background)
}

.code-pre {
  padding-bottom: 12px;
  margin-bottom: 0px;
  overflow-x: auto;
}

.action-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 12px;
  display: flex;
  /*align-items: center;
  justify-content: center; */
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.action-button {
  margin-left: 7px;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  box-shadow: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}


.list-container {
  position: relative;
  background-color: var(--vscode-input-background);
  border: 1px solid #383434;
  padding: 10px;
  width: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.2em;
  margin-bottom: 3px;
  background-color: var(--vscode-input-background);
  transition: background-color 0.2s ease-in-out;
}

li:hover {
  background-color: var(--vscode-list-hoverBackground);
  transition: background-color 0.2s ease-in-out;
}

a {
  text-decoration: none;
}

a:focus {
  color: var(--vscode-textLink-foreground);
  outline: 2px solid var(--vscode-textLink-activeForeground);
  outline-offset: 2px;
}

a:hover {
  text-decoration: underline;
}

li:before {
  content: "/";
}

.feedback-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 20px 12px 20px;
  background-color: var(--vscode-editor-background);
}

.feedback-statement {
  margin: 0 10px 0 0;
  font-size: 11px;
}

.feedback-icons {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.feedback-icons span {
  margin-left: 5px;
  margin-right: 5px;
}

#loginButton {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  cursor: pointer;
  padding: 6px 11px;
  outline: 1px solid transparent;
  outline-offset: 2px !important;
  width: 100%;
}

#loginButton:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.hide {
  display: none;
}

hr {
  border: 0;
  height: 1px;
  background-color: var(--vscode-dropdown-border);
  margin: 0px 20px;
}

.walkthrough-title {
  font-size: 11px;
  margin-bottom: 10px;
  margin-top: 18px;
  color: var(--vscode-input-placeholderForeground);
}

.walkthrough-content,
.suggested-prompt {
  display: inline-flex;
  align-items: center;
}

.play-icon-path {
  fill: var(--vscode-textLink-foreground);
}

.play-icon {
  margin-right: 5px;
}

.suggested-prompt {
  margin-bottom: 10px;
}

.suggested-title {
  margin: 16px 0px;
}


.icon-container {
  width: 14px;
  /* Set a fixed width for the icon */
  margin-right: 4px;
  /* Add some spacing between icon and text */
}

.new-badge {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border-radius: 50px;
  padding: 1px 5px;
  font-size: 9px;
  /* margin-right: 2px; */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}