# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#
# CI workflow for PRs and merges to main
# https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions
name: PullRequest

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
    - main
    - 'release/stable'
    - 'features/PowerPagesAgent'
    paths-ignore:
      - 'l10n/**'
      - 'loc/**'
      - 'package.nls.json'
      - 'package.nls.*.json'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, macos-latest, ubuntu-latest ]
      fail-fast: false

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: List installed .NET SDKs
      run: dotnet --list-sdks

    - name: Setup Node.js environment
      uses: actions/setup-node@v3
      with:
        node-version: 18

    # - name: Install dependencies
    #   run: npm i -g npm

    - name: Build and unit test
      run: |
        npm ci
        npm run dist
      env:
        AZ_DevOps_Read_PAT: ${{ secrets.AZ_DevOps_Read_PAT }}

    - name: Run Debugger integration tests
      uses: coactions/setup-xvfb@v1
      with:
        run: |
         npm run test-integration

    - name: Run Web integration tests
      uses: coactions/setup-xvfb@v1
      with:
        run: |
         npm run test-web-integration

    - name: Run Desktop integration tests
      uses: coactions/setup-xvfb@v1
      if: matrix.os == 'windows-latest'
      with:
        run: |
         npm run test-desktop-int

    - name: Run Common integration tests
      uses: coactions/setup-xvfb@v1
      with:
        run: |
         npm run test-common-int
